<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data enter</title>
</head>
<body>
<h1>INPUT MEDIA</h1>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

    <form>
        <input type="button" value="Кнопка Загрузить" onClick='location.href="https://fox4.ru/input"'>
    </form>

    <form>
        <input type="button" value="Кнопка Показать" onClick='location.href="https://fox4.ru/output"'>
    </form>

</body>
</html>